body {
    margin: 0px;
}

.about-me {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}  

#about p {
    padding: 0em 1em 0em 1em;
}

.sidebar {
    grid-column: 1 / 2;
    background-color: rgb(12, 12, 12);
    position: fixed;
    width: 25%;
}

.right-side {
    grid-column: 2 / 3;
    font-size: 1.4em;
    background-color: rgb(204, 204, 204);
}


.profile-pic img {
    height: 10em;
    width: 10em;
    border: 0.2em solid grey;
    border-radius: 50%;
    margin-top: 2em;
}

.profile-pic {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-name {
    display: flex;
    color: white;
    justify-content: center;
    font-size: 1.5em;
    margin-top: 0.1em;
    text-decoration: underline;
}

.nav-links ul {
    list-style: none;
}

.nav-links {
    color: whitesmoke;
    font-size: 1.5em;
    line-height: 2.2em;
}

.copyright {
    display: flex;
    color: whitesmoke;
    justify-content: center;
    margin-top: 3.6em;
}

.image {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center; 
    z-index: 1;
}

.text-block {
    position: absolute;
    background-color: black;
    opacity: 0.6;
    z-index: 2;
    margin-left: 2em;
    font-size: 2em;
    line-height: 0.3em;
    padding: 0em 1em 0em 1em;
    border-radius: 0.1em;
    color: whitesmoke;
}

.text-block span {
    color: lavender;
    font-size: 1.2em;
}

.right-side img {
    width: 100%;
    height: 100%;
}

.right-side h2 {
    text-align: center;
}

#skills ul{
    list-style: square;
}

a {
    color: white;
    text-decoration: none;
}

.contact-page {
    text-align: center;
}


@media only screen and (max-width: 600px) {
    .sidebar {
        display: flex;
        width: 100vw;
        height: 10vh;
        position: fixed;
        margin: 0px;
    }   

    .right-side {
        width: 100vw;
    }

    .nav-links {
        display: flex;
        line-height: 1em;
        padding-left: 0.2em;
        margin-top: -0.65em;
    }
    
    .nav-links li {
        display: inline;
        width: 100vw;
        padding-left: 0.9em;
    }

    .profile-name, .copyright, .profile-pic {
        display: none;
    }

    .about-me {
        font-size: 0.8em;
    }

    .contact-page {
        margin-top: 1.5em;
    }

    .contact-page h1 {
        text-align: center;
    }
}